@import '../config/config';
@import "~bootstrap/scss/bootstrap";

.container{
    
    .form{         
        form{            
        .header{
            display: flex;
            justify-content: center;
            
            h2{
                margin: 5px;
                font-family: $primary-font-family
            }            
           }

           .background{
                background-color: rgb(253, 247, 240);
                height: 600px;
                .logocontainr{
                    display: flex;
                    justify-content: center;
                   // height: 50px;

                    .logo{
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 50px;
                        color: $button-color;
                        
                        .text{
                            color: black;
                            font-size: 2rem;
                        }
                    }
                }
                
                .inputbox{
                display: flex;
                flex-direction: column;
                margin: 10px;
                margin-bottom: 30px;
    
                    label{
                    margin-bottom: 10px;
                    }
                    input{
                        border-radius: 5px;
                        outline-style: none;
                        border-style: none;
                        padding: 5px;
                        height: 30px;
                    }
               }
               button{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                //border-style: none;
                background-color: $button-color;
                color: white;
                height: 50px;
                width: 100%;
               }

               .bottom{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                   
                .register{
                    margin-bottom: 20px;
                    p{
                        color: rgb(160, 159, 159);
                    }
                    a{
                        color: $button-color;
                        text-decoration: none;
                    }
                    
                }
                .forget{
                    margin-bottom: 20px;
                    a{
                        color: black;
                        text-decoration: none;
                    }
                }
               }
           }
            
           
        }
        
    }
}